html {
	background-color: #333333;
	font-family: "open sans", helvetica, Sans-Serif;
}

body {
	background-color: #f9f9f9;
	width: 100%;
	height: 100%;
	margin: 0;
}

h1 {
	font-family: "Amatic SC";
}

#header {
	padding: 12px;
	border-bottom: 1px solid #333333;
}

#title { 
	font-size: 4em;
	display: none;
	float: right;
	font-family: "Amatic SC";
	width: 70%;
	text-align: right;
	font-weight: normal;
	margin-top: 0;
}

#logo {
	width: 20%;
	max-width: 160px;
	min-width: 60px;
}

#menu {
	color: red;
	font-size: 2em;
	position: absolute;
	top: 12px;
	right: 12px;
}

nav ul {
	display: none;
	list-style: none;
	text-align: center;
	font-size: 18px;
	margin: 0 auto;
	padding: 0;
	border-bottom: 1px solid #333333;
}

.currentLink {
	background-color: #333333;
	color: #ffffff;
}

nav li a {
	display: block;
	text-decoration: none;
	color: #333333;
	line-height: 2em;
	border-bottom: 1px solid #eeeeee;
}

nav li a:active {
	background-color: #333333;
	color: #ffffff;
}
 
nav li a #fbook {
	font-size: 2em;
}

/*adoption*/
#adoption {
	margin: 12px;
}

#adoption h1 {
	width: 100%; 
	height: 20px; 
	border-bottom: 1px solid red; 
	text-align: center;
	margin-bottom: 60px;
	margin-top: 40px;
}

#adoption span {
	font-size: 1em; 
	background-color: #f9f9f9; 
	padding: 0 10px;"
}
#gallery { 
	width: 90%;
	margin: 0 auto;
	padding-left: 10%;
}

#gallery img {
	width: 200px;
	margin: 20px;
}


#policy p {
	margin-top: 0;
}	



/*contact*/
#details {
	margin: 8px;
}

.contact {
	background-color: #eeeeee;
}

.contact  h2 {
	margin-left: 8px; 
}

.shadebox {
	width: 90%;
	background-color: #f9f9f9;
	margin: 0 auto;
	padding: 8px;
}

.more-details {
	background-color: #fa2a00;
	text-decoration: none;
	color: #f9f9f9;
	padding: 5px;
	font-style: italic;
}

.more-details:hover {
	text-decoration: underline;
}

/*care */

#care {
	margin: 8px;
}

#care img {
	width: 300px;
	margin: 0 auto;
	padding: 0;
}

#care h2 {
	width: 100%; 
	height: 20px; 
	border-bottom: 1px solid red; 
	text-align: center;
	margin-bottom: 60px;
	margin-top: 40px;
}


.controle span {
	font-size: 1em; 
	background-color: #f9f9f9; 
	padding: 0 10px;"
}

.p-bold {
	font-weight: bold;
}

.box {
	display: none;
}
 

@media screen and (min-width: 670px) {
	nav ul{
		display: block;
	}

	#header { 
		border-style: none;
	}

	#menu { 
		display: none;
	}

	nav {
		overflow:auto;
	}

	nav ul {
		display: block !important; 
		float: right; 
		border-style: none;
	}

	nav li {display: inline-block; 
		margin-right: 12px; 
		color: white;
	}

	nav li a { 
		border-style: none; 
		color: white;
	}

	#title { 
		display: block;
	}

	nav {
		display: block;
		background-color: red;
		line-height: 50px;
	}

	.currentLink {
		background-color: red;
		color: white;
	}

	nav li a:active {
		background-color: red;
		color: white;
	}

	nav li a:hover {
		text-decoration: underline;
	}

	/*adoption*/
	#policy {
		margin-right: 20px;
		float: left;
		width: 48%;
	}
	#pricing {
		float: right;
		width: 48%;
	}

	#gallery img {
		width: 200px;
		margin: 20px;
	}

	/*contact*/

	#details:after {
		content: '';
		display: block;
		clear: both;
	}

	#partners {
		display: inline-block;
		width: 48%;
		float: right;
	}

	#wrr-left{
		display: inline-block;
		width: 48%;
		float: left;
	}

	#phone {
		color: black;
	}

	#details a {
		text-decoration: none;
	}

	/*care*/

	.box {
		display: block;
	}
}

@media screen and (min-width: 1200px) {
	body {
		max-width: 1200px;
		margin: 0 auto;
	}
}








