html {
	min-height: 100%;
	background-color: #f9f9f9;
	font-family: "open sans", helvetica, Sans-Serif;
	background-attachment: fixed;
	background-repeat: repeat-x;
	background-position: center bottom;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
}

h2 {
	font-family: "Architects Daughter";
	font-size: 1.5em;
	text-align: center;
}

h1 {
	font-family: "Architects Daughter";
	font-size: 1.5em;
}

.red {
	color: red;
	font-size: 1.6em;
}

#header {
	padding: 12px;
	border-bottom: 2px solid white;
}

#title {
	font-size: 1em;
	display: none;
	float: right;
	font-family: "Pacifico";
	color: #333333;
	width: 70%;
	text-align: right;
	margin-top: 0;
	margin-right: 10px;
}

#logo {
	width: 20%;
	max-width: 160px;
	min-width: 60px;
}

#menu {
	color: red;
	font-size: 2em;
	position: absolute;
	top: 12px;
	right: 12px;
}

nav ul {
	display: none;
	list-style: none;
	text-align: center;
	font-size: 18px;
	margin: 0 auto;
	padding: 0;
	border-bottom: 2px solid white;
}

.currentLink {
	background-color: red;
	color: #ffffff;
}

nav li a {
	display: block;
	text-decoration: none;
	color: #333333;
	line-height: 2em;
	border-bottom: 1px solid #eeeeee;
}

nav li a:active {
	background-color: #333333;
	color: #ffffff;
}

nav li a #fbook {
	font-size: 2em;
	position: relative;
	top: 5px;
}

.fb-page {
	width: 90%;
	margin: 40 auto;
}

/*adoption*/
#adoption {
	margin: 12px;
}

#adoption h1 {
	width: 100%;
	height: 20px;
	text-align: center;
	margin-bottom: 60px;
	margin-top: 40px;
}


#gallery {
	width: 90%;
	margin: 0 auto;
	padding-left: 10%;
}

#gallery img {
	width: 200px;
	margin: 20px;
}


#policy p {
	margin-top: 0;
}



/*contact*/

#details {
	margin: 8px;
}


#details  h3 {
	margin-left: 8px;
}

.more-details {
	background-color: #fa2a00;
	text-decoration: none;
	color: #f9f9f9;
	padding: 5px;
	font-style: italic;
}

.more-details:hover {
	text-decoration: underline;
	cursor: pointer;
}

#details a {
	text-decoration: none;
}

#phone {
	color: black;
}



/*care */

#care {
	margin: 20px;
}
.image-link {
	display: inherit;
}

.care-image {
	display: inherit;
	margin: 0 auto;
}

.p-bold {
	font-weight: bold;
}

.box {
	display: none;
}




@media screen and (min-width: 670px) {


	#header {
		border-style: none;
	}

	#menu {
		display: none;
	}

	nav ul{
		display: block;
	}

	nav {
		overflow:auto;
		width: 100%;
		display: block;
		background-color: red;
		line-height: 50px;
	}

	.currentLink {
		background-color: red;
		color: white;
	}

	nav ul {
		display: block !important;
		float: right;
		border-style: none;
	}

	nav li {
		display: inline-block;
		margin-right: 12px;
		color: white;
	}

	nav li a {
		border-style: none;
		color: white;
	}

	nav li a:active {
		background-color: red;
		color: white;
	}

	nav li a:hover {
		background-image:  url("../img/rabbit_outline.png");
		background-position: center;
		background-repeat: no-repeat;
	}

	#title {
		display: block;
		font-size: 2em;
	}



	/*adoption*/
	#policy {
		margin-right: 20px;
		float: left;
		width: 48%;
	}
	#pricing {
		float: right;
		width: 48%;
	}

	#gallery img {
		width: 200px;
		margin: 20px;
	}

	/*contact*/

	#details:after {
		content: '';
		display: block;
		clear: both;
	}

	#partners {
		display: inline-block;
		width: 48%;
		float: right;
	}

	#wrr{
		display: inline-block;
		width: 48%;
		float: left;
	}


	.fb-page {
		display: block;
		position: absolute;;
		right: 10px;
	}


	/*care*/

	.box {
		display: block;
	}
}

@media screen and (min-width: 765px) {
	#title {
		font-size: 3em;
	}

	.vets {
		float: left;
		width: 50%;
		margin: 0 auto;
	}
}

@media screen and (min-width: 1020px) {
	#title {
		font-size: 4em;
	}

	.food-list {
		width: 25%;
		float: left;
		margin-right: 40px;
	}
}

@media screen and (min-width: 1200px) {
	body {
		max-width: 1200px;
		margin: 0 auto;
	}
}
